
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.app-container {
  background: linear-gradient(to right, purple, skyblue);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container{
  background-color: #ffffff;
  height: 60%;
  width: 60%;
  color: #000;
  padding: 2rem;
}
input[type="text"]{
   font-size: 1.4rem;
   padding: .5rem;
   margin-top: 2rem;
   margin-bottom: 2rem;
   border: 1px solid grey;
   border-radius: 8px;
   outline: none;
}
input::placeholder,
textarea::placeholder {
  opacity: 0.3; 
}

input[type="checkbox"]{
  transform: scale(1.8);
}

